
* {
  box-sizing: border-box;
}

.help {
	width: 70px;
	height: auto;
	margin: 0 20px;
}

#logo {
	width: 300px;
}

#question {
	width: 500px;
	height: 100px;
	text-align: center;
}

body {
	background-image: url("../../assets/images/background_image.jpg");
	width: 1400px;
	height: auto;
	z-index: -98;
}

.main-container{
	width: 1400px;
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
}


.row {
	width: 900px;
	max-width: 900px;
/*	height: 300px;*/
	margin: 0 auto;
	clear: both;
	text-align: center
	justify-content: center;
	margin-bottom: 30px;
}

#game-timer{
	width: 100px;
	height: 40px;
	font-size: 30px;
	color: white;
	background-color: #4a65b5;
	border: 4px solid #1e3a87;
	text-align: right;


}

.left-container{
	width: 900px;
	float: left;
}
.right-container{
	margin-top: 10px;
	width: 300px;
	float: right;
}

#myBtn, #start-button{
	margin: 10px 0px 10px 0px;
	width: 180px;
	height: 40px;
	background-color: #4a65b5;
	border: #1e3a87 solid 3px;
	font-size: 16px;
	color: white;
}
#game-timer{
	width: 100px;
	margin: 30px 40px 60px 40px;
	height: 70px;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
}


.money-bar{
	background-color: #4a65b5;
	border: #1e3a87 solid 3px;
	color: white;
	font-size: 30px;
	width:180px;
	height: 40px;
	text-align: right;
}
.current-money{
	background-color: #4a65b5;
	border-color: gold;
}

#question{
	border: 4px solid #1e3a87;
	background-color: #4a65b5;
	color: white;
	font-size: 23px;
	width: 825px;
	height: 100px;
	border-radius: 50px 50px 50px 50px;
	line-height: 80px;
 	white-space: initial;
}

.answer {
	border: 4px solid #1e3a87;
	color: white;
	font-size: 18px;
	width: 400px;
	height: 100px;
	display: inline;
	background-color: #4a65b5;
}

.answer:hover {
	background-color: #4a65b5;
}

#answerA{
	border-radius: 50px 15px 15px 50px;
	margin-right: 10px;
}
#answerB{
	border-radius: 15px 80px 80px 15px;
	margin-left: 10px;
}
#answerC{
	border-radius: 80px 15px 15px 80px;
	margin-right: 10px;
}
#answerD{
	border-radius: 15px 80px 80px 15px;
	margin-left: 10px;
}

.disabled {
	background-color: grey;
	opacity: .3;
}

.header{
	height: 300px;
	width: 400px;
	margin: 0 auto;
	clear: both;
	text-align: center
	justify-content: center;
	margin-bottom: 30px;
}

.message{
	width: 824px;
	height: 80px;
	background-color: grey;
	font-size: 30px;
	text-align: center;
	clear: both;
	border: #1e3a87 solid 4px;
	line-height: 70px

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 4px solid white;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: Helvetica;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}